@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #404040;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

h1 {
  font-size: 2rem;
  padding: 0.5rem 0;
}

h2 {
  font-size: 1.5rem;
  padding: 1rem 0;
}

h3 {
  font-size: 1.17rem;
  padding: 0.8rem 0;
}

h4 {
  font-size: 1rem;
  padding: 0.8rem 0;
}

h5 {
  font-size: 0.83rem;
  padding: 0.8rem 0;
}

.responsive-table {
  width: 100%;

  th,
  td {
    padding: 0.5rem;
    text-align: left;
  }

  th {
    text-wrap: nowrap;
    width: 0;
  }

  td {
  }

  tr {
    background-color: white;
  }

  tr:nth-of-type(odd) {
    background-color: #f8f8f8;
  }
}

.shadow-around {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.gray-gradient {
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
}

.purple-gradient {
  background: linear-gradient(109.6deg, rgb(78, 62, 255) 11.2%, rgb(164, 69, 255) 91.1%);
}

.green-gradient {
  background: linear-gradient(75.7deg, rgb(34, 126, 34) 3.8%, rgb(99, 162, 37) 87.1%);
}
