name: Deploy to GitHub Pages

# 実行中にPushされたら停止する
concurrency:
  group: "pages"
  cancel-in-progress: true

permissions:
  contents: write

on:
  push:
    branches:
      - main
    paths:
      - '**/*.js'
      - '**/*.jsx'
      - '**/*.ts'
      - '**/*.tsx'
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build
        env:
          CI: false

      - name: Move build to docs
        run: |
          rm -rf ./docs/
          mkdir ./docs
          mv ./out/* ./docs/
          cp ./configs/* ./docs/

      # アンダースコアから始まるディレクトリが無視される不具合によってアイコンが404NotFoundになる
      # その不具合を避けるために、`.nojekyll`を追加する
      - name: add .nojekyll
        run: touch ./docs/.nojekyll

      # ここまでの作業をReleaseブランチ上で反映させる
      - name: Commit and push
        run: |
          git config user.name "GitHub Action"
          git config user.email "action@github.com"
          git add -A
          git commit -m "Push build result [skip ci]"
          git push
